<h1>Registration</h1>
<form (ngSubmit)="registerUser()">
  <input type="text" [(ngModel)]="formData.username" name="username" placeholder="Username" required>
  <input type="email" [(ngModel)]="formData.email" name="email" placeholder="Email" required>
  <input type="password" [(ngModel)]="formData.password" name="password" placeholder="Password" required>
  <select [(ngModel)]="formData.school" name="school" required>
    <option value=""> Your School </option>
    <option value="bs">Business School</option>
    <option value="site">School of IT & Engineering</option>
    <option value="seogi">School of Energy & Oil and Gas</option>
    <option value="sg">School of Geology</option>
    <option value="ise">International School of Economics</option>
    <option value="kma">Kazakhstan Maritime Academy</option>
    <option value="sam">School of Applied Mathematics</option>
    <option value="sce">School of Chemical Engineering</option>
  </select>
  <input type="number" [(ngModel)]="formData.yearOfStudy" name="yearOfStudy" placeholder="Year of Study" required min="1" max="6">
  <button type="submit">Register</button>
</form>

<p *ngIf="successMessage">{{ successMessage }}</p>
<p *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</p>